.navbar {
	background-color: #ffffff;
}

.jumbotron {
	padding: 10%;
	background-color: #ffffff;
	height: 90vh;
}

.jumbotron h1 {
	color: #310d75;
}

#typewriter {
	/*color: #7f8fd3;*/
	color: #4870d9;
	padding-left: 2px;
	font-size: 32px;
}


.custom-card-container {
	padding: 50px;
}

.custom-card {
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	height: 50%;
}

.custom-card h3 {
	color: #ffffff;
	margin-bottom: 20px;
}

.custom-card p {
	color: #fafafa;
	font-weight: 500;
}

.inner-card {
	/*background-color: #4691eb;*/
	background-color: #4870d9;
	/*background-image: linear-gradient(to right, #00c6ff, #0072ff);*/
	padding: 30px 20px 10px 20px;
	box-shadow: 0 4px 8px 0 #4870d9;
	transition: 0.3s;
	border-radius: 30px !important;
	border: none !important;
}

.inner-card:hover {
  	box-shadow: 0 20px 40px 0 #4870d9;
}


.card-icon {
	text-align: center;
}

.article-select {
	padding: 2px;
	width: 90%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.article-card {
	/*background-color: #4691eb;*/
	/*background-color: #4870d9;*/
	background-image: linear-gradient(90deg, rgba(72,112,217,1) 0%, rgba(117,155,255,1) 100%);
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 15px;
	border: none;
}

#article-nav-section {
	padding: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.nav-link-lb {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link-lb:hover, .nav-link-lb:focus {
  text-decoration: none;
}

.nav-link-lb.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-pills-lb .nav-link-lb {
  border-radius: 20px;
}

.nav-pills-lb .nav-link-lb.active,
.nav-pills-lb .show > .nav-link-lb {
  color: #fff;
  background-color: #4870d9;
  border-width: 10px;
}

.text-primary-db {
  color: #ffffff !important;
  font-weight: 650;
}

.card-text {
	color: #fafafa;	
}

.social-footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}
