.navbar {
	background-color: #ffffff;
}

.jumbotron {
	padding: 10%;
	background-color: #ffffff;
	height: 100vh;
	background-image: url("./src/iamges/header-bg-1.png")
}

.jumbotron h1 {
	color: #310d75;
}

#typewriter {
	color: #7f8fd3;
	padding-left: 2px;
	font-size: 32px;
}

.custom-card-container {
	padding: 50px;
	/*background-color: #8ba2e8;*/
	/*background-color: #394fa5;*/
	background-image: linear-gradient(#394fa5, #2fa491)
	/*background-image: linear-gradient(#394fa5, #423873)*/
}

.custom-card {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

.custom-card h3 {
	font-weight: 700;
	color: white;
	margin-bottom: 20px;
}

.custom-card p {
	color: white;
	font-weight: 500;
}


.card-icon {
	text-align: center;
}

.article-select {
	padding: 20px;
	width: 80%;
	margin: auto;
}

.article-card {
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
}